*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  ::-webkit-scrollbar{
    display: none;
  }
  img.dt{
    width: 15px !important;
  }
.chat{
    min-height: 100vh;
    background: linear-gradient(#B9EDDD,#569DAA);
    display: grid;
    place-items: center;
}

.chat-container{
    width: 90%;
    height: 80vh;
    max-width: 65vw;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}