.Admin{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    background-color: #577D86;

}
.table-container {
    min-width: 900px;
    padding: 20px;
    font-family: Arial, sans-serif;
    flex: 1;
  }
  
  .table-container h4 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: white;
  }
  
  .inventory-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius:10px;
  }
  
  .inventory-table thead th {
    background-color: #f5f5f5;
    font-weight: bold;
    padding: 12px;
    border-bottom: 2px solid #ddd;
    border-radius: 10px 10px
  }
  
  .inventory-table tbody td {
    padding: 12px;
    border-top: 1px solid #ddd;
    vertical-align: middle;
  }
  
  .thumbnail-img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover;
  }
  
  .inventory-table td,
  .inventory-table th{
    text-align: center;
  }
  .inventory-table .avatar {
    width: 120px;
  }
  .inventory-table .ticket-info{
    display: flex ;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .inventory-table .status{
    padding: 5px 5px;
    border-radius: 5px; 
  }
  .inventory-table .Available{
    background-color: #0080000d;
    color: green;
    
  }
  .inventory-table .Sold{
    background-color: #ff00000d;
    color: crimson;
  }
  .inventory-table .Pending{
    background-color: #ffd90020;
    color: goldenrod;
  }
  .inventory-table .Cancelled{
    background-color:  #00008b1c;
    color: darkblue;
  }